@import "nullstyle.scss";


$fz:40px;
$color_1:green;
$color_2:blue;

%tplborder{ /* также можно объявлять как класс .tplborder  */
    border-bottom:5px dashed red;
    font-size: 50px;
}

.block{
    padding: 30px;
    font-size:$fz;
    line-height: 60px;
    .block__text{
        font-size: $fz;
        span{
            color:$color_1;
        }
    }
    &.block_big{
        
    }
}
.link{
    color:$color_2;
    text-decoration: underline;
    &:hover, &:active, &:focus{
        color:$color_2;
    }
    &:before{
        content:'';
    }
    &:after{
        content:'';
    }
    @extend %tplborder; /*если объявляли как класс то выглядить будет так
    @extend .tplborder  */
}

.link_2{
    @extend %tplborder; 
}