*{
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: box-sizing;
}

.block{
    padding: 30px;
    font-size:50px;
    line-height: 60px;
    .block__text{
        font-size: 80px;
        span{
            color:green;
        }
    }
    &.block_big{
        
    }
}
.link{
    color:blue;
    text-decoration: underline;
    &:hover, &:active, &:focus{
        color:green;
    }
    &:before{
        content:'';
    }
    &:after{
        content:'';
    }
}